<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
	
    <display-name>hellows-war</display-name>
	
    <module-name>hellows</module-name>
    
    <welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
    
    <!--
	<servlet>
		<servlet-name>WSServlet</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/ws</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
    -->
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecuredPages</web-resource-name>
            <description>Those pages are only accessed by authenticated users.</description>
            <url-pattern>/HelloService</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>These are the roles who have access.</description>
            <role-name>Admin</role-name>
            <role-name>AppUser</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>This is how the user data must be transmitted.</description>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>default</realm-name>
    </login-config>
    
    <security-role>
        <description>Weblogic Adiminstrator</description>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description>Application user</description>
        <role-name>AppUser</role-name>
    </security-role>
    
</web-app>